/* Main page */
.title {
    font-size: 100px;
    font-family: Arial, Helvetica;
    text-align: center;
}

.list {
    list-style: none;
    text-align: center;
}

.bullet {
    display: inline-block;
    margin: 20px
}

.button {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 200px;
    height: auto;
    padding: 20px;
    border: 5px, black;
    border-style: solid;
    cursor: pointer;
}

.button:hover {
    background-color: gray;
}

/* Sub pages */

.recTitle {
    font-size: 75px;
    font-family: Arial, Helvetica;
}

.image {
    width: 600px;
    height: auto;
    display: inline;
}

.info {
    align-items: flex-start;
    display: flex;
    margin: 50px;
    box-sizing: border-box;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: -150px;
}

.des, 
.subTitle {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

.des {
    font-size: 50px;
}

.subTitle {
    font-size: 30px;
}

.ingList,
.stepList {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
